<header>
	{{#data-portlets}}
		<a href="{{link-mainpage}}"> <img src="/w/resources/assets/logos/default.png"> </a>
		{{#data-personal}}
			<nav role="navigation" id="{{id}}" aria-labelledby="{{id}}-label">
				<ul {{{html-user-language-attributes}}}>
					{{{html-items}}}
				</ul>
			</nav>
		{{/data-personal}}
	{{/data-portlets}}
</header>



<main>
	<div class="sidebar" {{{html-user-language-attributes}}}>
		{{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
		{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
		{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
	</div>

	<div class="right">
		{{#data-portlets}}
			<div role="navigation" class="navigation" id="p-cactions" aria-labelledby="p-cactions-label">
				<nav class="tabs">
					<ul {{{html-user-language-attributes}}}>
						{{{data-namespaces.html-items}}}
					</ul>
					<ul {{{html-user-language-attributes}}}>
						{{{data-views.html-items}}}{{{data-actions.html-items}}}{{{data-variants.html-items}}}
					</ul>
				</nav>
				{{#data-search-box}}
					<div role="search" class="search">
						<form action="{{form-action}}" id="searchform"><input type="hidden" value="{{page-title}}" name="title">
							{{{html-input}}}
						</form>
					</div>
				{{/data-search-box}}
			</div>
		{{/data-portlets}}

		<div id="content" class="content" role="main">
			<a id="top"></a>
			<div id="siteNotice">{{{html-site-notice}}}</div>
			<div class="mw-indicators">{{#array-indicators}}<div id="{{id}}" class="mw-indicator">{{{html}}}</div>{{/array-indicators}}</div>

			{{{html-title-heading}}}
			<div class="bodyContent">
				<div id="siteSub">{{ msg-tagline }}</div>
				<div id="contentSub" {{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
				{{#html-undelete-link}}<div id="contentSub2">{{{.}}}</div>{{/html-undelete-link}}{{{html-newtalk}}}
				{{{html-body-content}}}
				{{{html-categories}}}
			</div>
		</div>
	</div>
</main>



<footer id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
	{{#data-footer}}
		<ul>
			{{#data-info}}
				{{#array-items}}<li id="{{name}}">{{{html}}}</li>{{/array-items}}
			{{/data-info}}
		</ul>
		<ul>
			{{#data-places}}
				{{#array-items}}<li id="{{name}}">{{{html}}}</li>{{/array-items}}
			{{/data-places}}
			{{#data-icons}}
				{{#array-items}}
					<li id="f-{{name}}ico" class="footer-icons">{{{html}}}</li>
				{{/array-items}}
			{{/data-icons}}
		</ul>
	{{/data-footer}}
</footer>
