@import 'Variables.less';

* { box-sizing: border-box; }

body {
  background-color: var(--color-background-primary);
  background-image: var(--image-background-primary);
  background-position: 0 60px;
  background-repeat: repeat-x;

  font-family: sans-serif;
  font-size: x-small;
  color: var(--color-text-primary);
}

a {
  color: var(--color-link-primary) !important;

  &:focus { text-decoration: none !important; }
  &:visited { color: var(--color-link-primary-visited) !important; }
  &:active { color: var(--color-link-primary-active) !important; text-decoration: underline !important; }
  &.new { color: var(--color-link-primary-new) !important; }
}

input {
	background-color: var(--color-background-input);
	color: var(--color-input-text);
	border: var(--border-input);
}

textarea {
	width: 100%;
	background-color: #3A3A3A !important;
  border: 2px solid #525252 !important;
  color: #D8D7D6 !important;
}

main {
  display: flex;
  max-width: var(--global-width);
  margin: 0 auto;

  .right {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    height: 100%;

    .content {
      background: var(--color-background-secondary);
      border: var(--border-primary);
    	line-height: 1.5em;
      font-size: 127%;
      padding: 1.25em 1.5em 1.5em 1.5em;

      h1, h2, h3, h4, h5, h6 {
        color: var(--white);
        font-weight: normal;
        padding: .6em 0 .17em 0;
        margin: 0;
      }

      .firstHeading {
        line-height: 1.2em;
        padding: .6em 0 0 0;
        margin: 0 0 0.25em 0;
      }

      h1 {
        border-bottom: var(--border-primary);
        padding: 1em 0 3px 0;
        margin: 1em 0 0.6em 0;
      }

      h2 {
        border-bottom: var(--border-primary);
        padding: 1em 0 3px 0;
        margin: 1em 0 0.6em 0;
      }

      p {
        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
      }
    }
  }
}

@media (max-width: 1366px){
  .content { border-right: 0 !important; }
}

// Skin
@import 'Components/Formatting.less';
@import 'Components/Header.less';
@import 'Components/Sidebar.less';
@import 'Components/Tabs.less';
@import 'Components/Footer.less';

// MediaWiki
@import 'MediaWiki/Common.less';
